Flask==0.11.*
requests
Werkzeug==0.11.*
privex-exchange>=0.1.0
privex-helpers>=2.13.0
nest_asyncio
jupyter
python-dotenv
gunicorn

jupyter-server>=2.7.2 # not directly required, pinned by Snyk to avoid a vulnerability
